{% extends 'base.html.twig' %}

{% block title %}
    Calendar
{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <h3>Upcoming Events</h3>

    <div class="calendar__main-content">
        <ul class="event-list">
            {% for event in events %}
                <li>
                    <h4 class="event-title">{{ event.name }} - {{ event.startDate|date("d/m/Y") }}</h4>
                    {% if event.description %}
                        <p>{{ event.description }}</p>
                    {% else %}
                        <p>No description</p>
                    {% endif %}

                    <span class="event-register-zone">
                        <a href="#" class="register-button">Register</a>
                    </span>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}