{% extends 'base.html.twig' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <h3>Login</h3>

    <form class="login-form" method="post">
        <label for="email">email</label>
        <input type="text" name="email" id="email">

        <label for="password">password</label>
        <input type="password" id="password" name="password"/>

        <button type="submit" class="submit-button">Login</button>
    </form>
{% endblock %}