<footer>
    <div class="footer-content">
        <div>
            <h4>Socials</h4>
            <nav>
                <a href="https://www.facebook.com/PraetoriaNausicaa" target="_blank">Facebook</a>
                <a href="https://www.facebook.com/groups/486659981537569" target="_blank">Vanguard group</a>
            </nav>
        </div>
        <div>

        </div>
        <div class="footer__copyright">
            Copyright &nbsp;<a href="https://github.com/EvertAlbert" target="_blank">Evert Albert</a>&nbsp; & Praetoria Nausicaa
        </div>
    </div>
</footer>
