<nav>
    <a href="{{ path('join') }}">Join</a>
    <a href="{{ path('calendar') }}">Calendar</a>
    <a href="{{ path('photos') }}">Photos</a>
    <a href="{{ path('team') }}">Team</a>
    <a href="#">Login</a>
</nav>