{% extends 'base.html.twig' %}

{% block body %}
    <header class="homepage__header">
        <img src="{{ asset('/build/images/skull.jpg') }}" class="homepage__header-background"/>
        <div class="homepage__header-content">
            <h1 class="Logo"><a href="{{ path('home') }}">Praetoria Nausicaa</a></h1>

            {% include "header_nav.html.twig" %}

            <div class="homepage__introduction">
                <h2>Welcome!</h2>
                <p>
                    Get to know our team, see upcoming events and check out pictures from our past event<br/>
                    Want to join us and get involved with the team?
                </p>

                <a class="button" href="{{ path('join') }}">
                    <span class="button_text join-button">Join Praetoria</span>
                </a>
            </div>

            <span class="homepage__discover-more">Discover more</span>
        </div>
    </header>
{% endblock %}