{% extends 'base.html.twig' %}

{% block title %}
    Photos
{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <h2>Photos</h2>
    <h3 class="photos__event-title">Shadow Events - Thronebreaker (02/04/2022 - 03/04/2022)</h3>

{% endblock %}