{% extends 'base.html.twig' %}

{% block title %}
    Photos
{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <h3>Photos</h3>

    <form method="POST" action="{{ path("photos.upload") }}" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>

    {% for photoAlbum in photoAlbums %}
        <p>{{ photoAlbum }}</p>
    {% endfor %}
{% endblock %}