{% extends 'base.html.twig' %}

{% block title %}
    Photos
{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
    <h3>Photos</h3>

    {% for photoAlbum in photoAlbums %}
        <p>{{ photoAlbum.name }}</p>
    {% endfor %}
{% endblock %}