<!doctype html>
{% apply inline_css(source('@styles/email.css')) %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Preatoria Nausicaa Notification{% endblock %}</title>
    <style>

    </style>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="header text-center">
            <a href="{{ url('home') }}">
                <img src="{{ absolute_url(asset('build/images/logo-no-bg.png')) }}" alt="preatoria nausicaa logo"/>
{#                <img src="{{ email.image('@images/email/logo-no-bg.png') }}" alt="preatoria nausicaa logo"/>#}
            </a>
        </div>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            <p class="block">
                Greetings,<br><br>
                <em>Preatoria Nausicaa</em>
            </p>
            <p class="block text-center">
                <a href="{{ url('home') }}">Visit the Preatoria Nausicaa website</a>
            </p>
            <p class="block bottom text-center">
                Email sent by Preatoria Nausicaa.
            </p>
        </div>
    </div>
</div>
</body>
</html>
{% endapply %}